name: Release and Dispatch

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
    secrets:
      token:
        required: true

permissions:
  contents: write

jobs:
  release:
    name: Package and Release
    runs-on: ubuntu-latest

    steps:
      - name: 1️⃣ Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 2️⃣ Configure GitHub auth and identity
        shell: bash
        run: |
          git config --global url."https://${{ secrets.CSK_PAT }}@github.com/".insteadOf "https://github.com/"
          git config user.name "ianhub-bot"
          git config user.email "bot@ianhub.net"

      - name: 3️⃣ Set up variables
        id: vars
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          NAME="${{ inputs.name }}"
          ZIP_NAME="${NAME}-${TAG_NAME}.zip"
          echo "tag=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "name=$NAME" >> $GITHUB_OUTPUT
          echo "zip=$ZIP_NAME" >> $GITHUB_OUTPUT

      - name: 4️⃣ Prepare ZIP contents
        run: |
          mkdir -p "${{ steps.vars.outputs.name }}"

          rsync -av application/ "${{ steps.vars.outputs.name }}/"

          [ -f LICENSE.md ] && cp LICENSE.md "${{ steps.vars.outputs.name }}/"
          [ -f README.md ] && cp README.md "${{ steps.vars.outputs.name }}/"

      - name: 5️⃣ Create ZIP archive
        run: |
          zip -r "${{ steps.vars.outputs.zip }}" "${{ steps.vars.outputs.name }}"

      - name: 6️⃣ Create GitHub Release and Upload ZIP
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.tag }}
          files: ${{ steps.vars.outputs.zip }}

  dispatch:
    name: Notify Projects
    runs-on: ubuntu-latest
    needs: release

    steps:
      - name: Trigger update
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.token }}
          repository: ianhubnet/csk-projects
          event-type: update-submodules
          client-payload: |
            {
              "name": "${{ inputs.name }}",
              "repo": "${{ github.repository }}"
            }
